




<div class='banner slider'>
    <div class='banner slide1'></div>
    <div class='banner slide2'></div>
    <div class='banner slide3'></div>

     <div class="head-container better-form-search">

    <h1>Signals App</h1>
    <p>dsclkjnsd;</p>



  </div>
</div>

<h2 class="recs">Recommendations</h2>
