.form-login {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  // background: white;
  // padding: 30px 20px;
  margin-top: 50px;
  // border-radius: 3px;
  // box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .form-control {
    align-content: center;
    width: 400px;
    padding: 22px;
  }
  .btn {
    width: 400px;
    // margin-left: -137px;
    margin-bottom: 25px;
    // background-color: #00D1AC;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    // border: 5px solid #00D1AC;
  }
  .btn:hover {
    // background-color: white;
    // color: #00D1AC;
    // border: 2px solid #00D1AC;
    opacity: .8;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: #00D1AC;
  }
}

/* MEDIA QUERIES */

@media (max-width: 376px) {
  .form-login {
    max-width: 360px !important;
  }
  .form-control {
    max-width: 360px !important;
  }
}
