.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.rounded {
  border-radius: 50% !important;
}

.nav-item {
  font-size: 1.2em !important;
  // background-color: #D80C0D;
}

.nav-link {
  // color: white !important;
  // background-color: #D80C0D;
  // margin: 1em;
}
